.topic {
  box-sizing: border-box;
  /* width: 860px; */
  height: 156px;

  background: rgba(25, 30, 46, 0.8);
  border-radius: 17px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  gap: 10px;

  position: relative;
}

.topic > p {
  margin: 0;
  line-height: 30px;
  font-size: 20px;
  color: white;
}

.topicBottom {
  display: flex;
  gap: 14px;
}

.topicCard {
  position: relative;

  flex-grow: 1;
  /* width: 259px; */
  height: 76px;

  color: white;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;

  background: #303b45;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  /* padding-left: 18px; */
}

.topicCard:nth-child(2) {
  background: #35314a;
}

.topicCard:nth-child(3) {
  background: #2c334e;
}

.topicIcon {
  position: absolute;
  top: 15px;
  right: 15px;
}
.topicIcon:hover {
  cursor: pointer;
}

.topicRules{
  position: absolute;
  color: #52C3E6;
  top: 16px;
  right: 40px;
  display: flex;
  align-items: center;
}

.topicRules > svg{
  margin-right: 10px;
}