.searchbar {
  display: flex;
  flex-grow: 1;
}

.search-input {
  /* width: 630px; */
  flex-basis: 500px;

  display: flex;
  align-items: center;
  border: 2px solid #52c3e6;
  border-radius: 17px;
  color: #52c3e6;
}

.search-input > *:first-child {
  font-size: 2rem;
  margin-left: 0.875rem;
  /* margin-right: .625rem; */
}

.search-input > input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  background: none;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  color: #52c3e6;
}
.search-input > input::placeholder {
  color: #52c3e6;
}
.search-input > input:focus {
  outline: none;
}

.searchbar-buttons {
  margin-left: 2rem;
  display: flex;
  /* margin-left: 52px; */
  gap: 18px;
}

.searchbar-buttons img {
  width: 1.5rem;
  height: 1.5rem;
}

.searchbar-button {
  /* width: 62px; */
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1;
  border: 2px solid #52c3e6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 17px;
}

.searchbar-button:hover {
  cursor: pointer;
  opacity: 0.8;
}
