.posts {
  /* padding: 14px 0; */
  padding: 0.875rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

.post {
  box-sizing: border-box;
  /* width: 860px; */
  /* margin-top: 14px; */
  background: rgba(25, 30, 46, 0.8);
  border-radius: 17px;
  padding: 20px;
  color: white;

  display: flex;
}

.postAvatar {
  margin-right: 15px;
}

.postMain {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.postUsername {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.postContent {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
}

.postTime {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 20px;
}

.postActions {
  padding-right: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postAction {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-basis: 4rem;
}

.postAction > *:first-child{
  font-size: 1.5rem;
}
.postAction > *:first-child:hover{
  cursor: pointer;
}

.postImage {
  margin-top: 1rem;
}
