.rightbar {
  position: -webkit-sticky;
  position: sticky;
  top: 6.25rem;
  /* margin-top: 6.25rem; */

  width: 21rem;
  /* width: 446px; */
  /* height: 783px; */
  height: calc(100vh - 7.25rem);

  background: rgba(25, 30, 46, 0.8);
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.rightbarTabs {
  margin-top: 1.5rem;
  line-height: 54px;
  text-align: center;
  color: white;
  opacity: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightbarTabs > * {
  width: 45%;
}

.rightbarTabL {
  /* width: 167px; */
  height: 54px;

  outline: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 27px 0px 0px 27px;
  margin-right: 2px;
}

.rightbarTabL:hover,
.rightbarTabR:hover {
  cursor: pointer;
  /* border-color: #52c3e6; */
  color: #52c3e6;
  outline: #52c3e6 1px solid;
}

.rightbarTabL:hover + .rightbarTabR {
  /* border-left: 2px solid #52c3e6; */
}

.rightbarTabR:hover + .rightbarTabL {
  /* border-right: transparent; */
}

.rightbarTabR {
  /* width: 167px; */
  height: 54px;
  color: #ffffff;
  box-sizing: border-box;
  outline: 1px solid #ffffff;
  border-radius: 0px 27px 27px 0px;
}

.rightbarTopThree {
  width: 100%;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 18px;
  padding-top: 1rem;
}

.rightbarTopThree > * {
  width: 33%;

}

.rightbarTopThreeItemName {
  text-overflow: ellipsis;
}

.rightbarTopThreeItem:nth-child(1),
.rightbarTopThreeItem:nth-child(3) {
  align-self: flex-end;
}

.rightbarTopThreeItem:nth-child(2) {
  padding-top: 10px;
  align-self: flex-start;
}

.rightbarTopThreeItemValue {
  color: #52c3e6;
  font-size: 1.1rem;

  display: flex;
  align-items: center;
  gap: 5px;
}

.rightbarTopElse {
  margin: 0;
  padding: 0;
  height: 70%;
  list-style: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-around;
  color: white;

  margin-top: 1rem;
  overflow-y: scroll;
}

.rightbarTopElseRank {
  color: #52c3e6;
  font-weight: bold;
  font-style: italic;
}

.rightbarTopElseItem {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.rightbarTopElseName {
  font-size: 18px;
  flex-basis: 100px;
}
.rightbarTopElseValue {
  font-size: 14px;
  color: #52c3e6;
}

.rightbarTopThreeItem {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightbarTop3Badge {
  position: absolute;
  top: 0;
  right: 0;
}
